{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="row d-flex flex-wrap justify-content-center">
        <h1 class="text-center mt-4">Articles</h1>
 
        

        <nav aria-label="...">
            <ul class="pagination pagination-lg">
                {% for i in 1.. allPages %}
                    <li class="page-item {{ page == i ? "active"}} "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
            </ul>
        </nav>

        {% for article in articles %}
            <div class="col-lg-3 col-md-8">
                <div class="card mt-5">
                    <img src="/img/articles/{{article.picture}}" class="card-img-top" alt="...">
                    <div class="card-body">
                       <a href="/posts/{{article.id}}"><h5>{{ article.title }}</h5></a> 
                        <p>{{ article.chapo }}</p>
                        <ul>
                            <li>{{ article.authorName }}</li>
                            <li>{{ article.majDate|date("m/d/Y") }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block javascripts %}
{% endblock %}
