{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center mt-4">Liste des commentaires</h1>

        <nav aria-label="...">
            <ul class="pagination pagination-lg">
                {% for i in 1.. allPages %}
                    <li class="page-item {{ page == i ? "active"}} "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">n°</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Supprimer</th>
                    <th scope="col">Valider</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr>
                    <th scope="row">{{comment.id}}</th>
                    <td>{{comment.authorName}}</td>
                    <td>{{comment.content}}</td>
                    <td>{{ comment.date_of_post|date("m/d/Y H:m", "Europe/Paris") }}</td>
                    <td>
                        <form method="POST" action="">
                            <input type="hidden" name="csrf_token" value="{{session.user.token}}">
                            <input type="hidden" id="delete" name="delete" value="{{comment.id}}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="">
                            <input type="hidden" name="csrf_token" value="{{session.user.token}}">
                            <input type="hidden" id="valid" name="valid" value="{{comment.id}}">
                            <button type="submit" class="btn btn-success">Valider</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}